/* ==================== BANNER ==================== */

.hero {
    width: 100%;
    height: 440px;
    background-image: url("../img/banner.jpeg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero-contenido {
    width: 80%;
    color: white;
}

.hero h1 {
    font-size: 48px;
    line-height: 1.5;
}